@import 'nib'
@import 'mixins'

.hide
  display none

.ui-content
  h1
    color #000

.container
  mt 25px
  mb 25px

.fullbleedlr
  ml -15px
  mr -15px

.branded
  color #cc0000 !important

.ui-header
  img.ui-title
    margin-bottom .5em

ul.ui-listview
  li
    &.ui-btn
      .ui-btn-inner
        .ui-btn-text
          a
            text-decoration none
            .school-address
              color #aaa
    &.ui-btn-down-d, &.ui-btn-up-d, &.ui-btn-hover-d
      border-bottom solid 1px #111111
      border-top solid 1px #666666
    &.ui-btn-down-e, &.ui-btn-up-e, &.ui-btn-hover-e
      border-top solid 1px #dddddd
      //border-bottom solid 1px #111111
      .ui-btn-inner
        span.ui-icon
          color #999
        a
          .message
            mt 0px
            white-space normal
          .subtext
            fs .7em

.splashtop
  mt -10px
  height 210px
  image '/img/colored-pencils.jpg' 320px auto
  background-repeat no-repeat

.welcome
  h1
    fs 28px
    margin 10px 0 0
  p
    font-size 18px
    line-height 2px
    fw bold
    color #989898

.actions
  p
    fs .8em
    text-align center
    fw bold
    margin 0
    color #292929

.fundertop
  mt -15px
  pt 5px
  pl 115px
  height 170px
  image '/img/marker.jpg' 95px auto
  background-repeat no-repeat
  h2
    margin 0
  h1
    margin 0 0 30px 5px
    line-height .7em
    fs 2.7em
  .intromessage
    color #666
    fs 1em
    line-height 1.3em
    width 200px
  .actions
    p
      text-align left
      mt 10px

.recent-activities
  h4
    mt 10px
    color #989898
    fs .7em
    pb 10px

.btn-shadow
  box-shadow 0px 2px 1px #ccc

.ui-bar-a
  box-shadow 0px 1px 3px #333

ul.left-icons
  li.ui-btn
    .ui-btn-inner
      //border-radius 0px
      .ui-icon
        fs 1.3em
        width 40px
        display inline-block

#sidemenu
  ul
    li
      border-bottom solid 1px #aa0000
      border-top solid 1px #dc3737
      a
        fs 1.1em
        pt 18px
        pt 18px
        fw 300
        text-decoration none

.ui-icon:not(.ui-icon-loading), .ui-icon-searchfield::after
  background none

.big-icon
  &.ui-btn-icon-notext
    width 36px
    height 36px
  .ui-btn-inner
    border-radius 0px
    .ui-icon
      fs 2em
      pt 5px


#form-search-schools
  ml 50px
  mr 10px
  .ui-icon:not(.ui-icon-loading), .ui-icon-searchfield::after
    background rgba(0,0,0,.6)
  .ui-input-search
    border none

ul.project-list
  li.ui-li-has-thumb
    .ui-btn-inner
      .ui-btn-text
        a.ui-link-inherit
          pl 80px
          img.ui-li-thumb
            left 10px
            top 10px
            max-width 60px
            max-height 60px
          h5
            margin 0
            color #000
            fs .9em
            .project
              fw normal
          .message
            mt 3px
          .status
            mt 10px
            ml -2px
            mr 10px
            mb 0
            position relative
            .ui-icon
              position absolute
              top 0
              left 0
              fs 1.1em
              &.ui-icon-time
                color #cc0000
                ml -3px
                &.nonurgent
                  color #ccc
              &.ui-icon-leaf
                color #f39c12
              &.ui-icon-map-marker
                color #2880b9
              &.ui-icon-money
                color #15a085
            .subtext
              mb 0
              fs .7em
              fw normal
              color #666
              padding 5px 0 0 25px
              .suptext
                ml 8px
                color #aaa

ul.product-list
  li.ui-li-has-thumb
    img
      padding 10px
      max-width 60px
      max-height 60px
    h5
      fw normal
      ml 0px
      mt 0px
      white-space normal
      fs .9em
    .price
      ml 0px
      fw bold
      fs 1em
      .each
        fs .7em
        pl 4px
    .quantity
      ml 0px
      mb 0px
      fs .7em
      fw bold
      color #999

.instructions
  color #555
  fs 2em

