@import 'nib'
@import 'mixins'

.hide
  display none

h1
  color #000

.fullbleed
  margin 0px -15px

a.alt-link
  color #cc0000

ul.ui-listview
  li
    &.ui-btn
      .ui-btn-inner
        .ui-btn-text
          a
            text-decoration none
    &.ui-btn-down-d, &.ui-btn-up-d, &.ui-btn-hover-d
      border-bottom solid 1px #111111
      border-top solid 1px #666666

.splashtop
  mt 15px
  height 200px
  image '/img/crayons.jpg' 100% auto
  background-repeat no-repeat

.welcome
  h1
    fs 28px
  p
    font-size 18px
    line-height 12px
    fw bold
    color #989898

.actions
  p
    fs .8em
    text-align center
    fw bold
    margin 0
    color #292929

.btn-shadow
  box-shadow 0px 2px 1px #ccc

.ui-bar-a
  box-shadow 0px 1px 3px #333

#sidemenu
  ul
    li
      border-bottom solid 1px #aa0000
      border-top solid 1px #dc3737
      a
        fs 1.2em
        text-decoration none

.ui-icon:not(.ui-icon-loading), .ui-icon-searchfield::after
  background none

.big-icon
  &.ui-btn-icon-notext
    width 36px
    height 36px
  .ui-btn-inner
    border-radius 0px
    .ui-icon
      fs 2.5em
      pt 5px


#form-search-schools
  ml 50px
  mr 10px
  .ui-icon:not(.ui-icon-loading), .ui-icon-searchfield::after
    background rgba(0,0,0,.6)
  .ui-input-search
    border none

.instructions
  color #555
  fs 2em

