@import 'nib'
@import 'mixins'

.hide
  display none

.ui-content
  h1
    color #000

.container
  mt 25px
  mb 25px

.fullbleedlr
  ml -15px
  mr -15px

.branded
  color #cc0000 !important

.ui-header
  img.ui-title
    margin-bottom .5em
    &.matisse-sig
      width 106px
      height 27px

ul.ui-listview
  li
    &.ui-btn
      .ui-btn-inner
        .ui-btn-text
          a
            text-decoration none
            .school-address
              color #aaa
    &.ui-btn-down-d, &.ui-btn-up-d, &.ui-btn-hover-d
      border-bottom solid 1px #111111
      border-top solid 1px #666666
    &.ui-btn-down-e, &.ui-btn-up-e, &.ui-btn-hover-e
      //border-top solid 1px #dddddd
      border-bottom solid 1px #dddddd
      .ui-btn-inner
        span.ui-icon
          color #999
        a
          .message
            mt 0px
            white-space normal
          .subtext
            fs .7em

.splashtop
  mt -10px
  height 210px
  image '../img/colored-pencils.jpg' 320px auto
  background-repeat no-repeat

.welcome
  h1
    fs 28px
    margin 10px 0 0
  p
    font-size 18px
    line-height 2px
    fw bold
    color #989898

.actions
  p
    fs .8em
    text-align center
    fw bold
    margin 0
    color #292929

.about-screen
  pt 10px
  pl 115px
  height 130px
  border-bottom solid 1px #999
  image '../img/marker.jpg' 95px auto
  background-repeat no-repeat
  h2
    margin 0
    fs 1em
  h1
    margin 12px 0 3px 0px
    line-height 1.1em
    fs 1.5em

#about
  .intromessage
    color #666
    fs 1em
    line-height 1.3em

.feedback-header
  mt 0
  mb 0
  pt 0
  mt 0

.new-proj-top
  mt -15px
  pt 5px
  pl 115px
  height 150px
  border-bottom solid 1px #999
  image '../img/marker.jpg' 95px auto
  background-repeat no-repeat
  h2
    margin 0
  h1
    margin 0 0 30px 5px
    line-height .7em
    fs 2.7em
  .intromessage
    color #666
    fs 1em
    line-height 1.3em
    width 200px
  .actions
    p
      text-align left
      mt 10px

.recent-activities
  h4
    mt 10px
    color #989898
    fs .7em
    pb 10px

.btn-shadow
  box-shadow 0px 2px 1px #ccc

.ui-bar-a
  box-shadow 0px 1px 3px #333

ul.left-icons
  li.ui-btn
    .ui-btn-inner
      //border-radius 0px
      .ui-icon
        fs 1.3em
        width 40px
        display inline-block

#sidemenu
  ul
    li
      border-bottom solid 1px #aa0000
      border-top solid 1px #dc3737
      a
        fs 1.1em
        pt 18px
        pt 18px
        fw 300
        text-decoration none

.ui-icon:not(.ui-icon-loading), .ui-icon-searchfield::after
  background none

.ui-header
  .big-icon
    &.ui-btn-icon-notext
      width 36px
      height 36px
    .ui-btn-inner
      border-radius 0px
      .ui-icon
        fs 2em
        pt 5px

.ui-footer
  .big-icon
    &.ui-btn-icon-notext
      width 28px
      height 28px
    .ui-btn-inner
      border-radius 0px
      .ui-icon
        fs 1.5em
        pt 5px
        pl 3px


#form-search-schools
  ml 50px
  mr 10px
  .ui-icon:not(.ui-icon-loading), .ui-icon-searchfield::after
    background rgba(0,0,0,.6)
  .ui-input-search
    border none

.project-filter-container
  mt -8px
  z-index 1001
  bgc #333333
  box-shadow 0px 2px 3px 1px #aaa
  color #fff
  .ui-select
    a
      .ui-btn-inner
        pt 8px
        pb 8px
        pl 15px
        fs .8em

#project-filter-button
  width 150px
  text-align left

#project-filter-listbox
  box-shadow 2px 2px 3px 1px #aaa
  mt 45px
  ml -15px
  border none
  padding 0
  width 150px
  min-width 140px
  .ui-header
    display none
  .ui-btn-inner
    fs .8em
  ul
    li
      bgc #989898
      border-bottom none
      border-top-color #fff
      a
        fs 1em

ul.project-list
  li.ui-li-has-thumb
    .ui-btn-inner
      .ui-btn-text
        a.ui-link-inherit
          pl 80px
          img.ui-li-thumb
            left 10px
            top 10px
            max-width 60px
            max-height 60px
          h5
            margin 0
            color #000
            fs .9em
            .project
              fw normal
          .message
            mt 3px
          .status
            mt 10px
            ml -2px
            mr 10px
            mb 0
            position relative
            .ui-icon
              position absolute
              top 0
              left 0
              fs 1.1em
              &.ui-icon-time
                color #cc0000
                ml -3px
                &.nonurgent
                  color #ccc
              &.ui-icon-leaf
                color #f39c12
              &.ui-icon-map-marker
                color #2880b9
              &.ui-icon-money
                color #15a085
            .subtext
              mb 0
              fs .7em
              fw normal
              color #666
              padding 5px 0 0 25px
              .suptext
                ml 8px
                color #aaa



.proj-top
  mt -15px
  height 150px
  background-repeat no-repeat
  &.fund-top
    height 100px
  &.mossimo
    image '../img/projects/mossimo-bg.jpg' 320px 150px
  &.bovit
    image '../img/projects/project-detail-bg.jpg' 320px 150px

.proj-footer
  .fund-btn-wrapper
    width 55%
    margin -28px auto 5px
    .fund-button
      margin 0px auto
      .ui-btn-inner
        padding .45em 11px .4em
        .ui-btn-text
          fs 1.3em
          fw normal

.proj-meta
  h1
    mb 0px
    fs 1.2em
  .message
    mt 2px
    color #888
    fs .8em
    fw 200
    strong
      fw bold
      color #000
  .progbar-outer
    mb 5px
    mt 20px
    height 12px
    width 100%
    box-shadow inset 1px 1px 4px #bbb
    border-radius 10px
    background-color #e0e5e6
    .progbar-inner
      background linear-gradient(top, #22bc9e, #17a186);
      height 11px
      width 70%
      border-radius 10px
      //border solid 1px #bce2d9
      background-color #18b092
  .proj-stats
    .ui-block-b, .ui-block-c, .ui-block-d
      pl 20px
    sup
      vertical-align top
      fs .5em
    h5
      mt 5px
      mb 0
    p
      color #888
      fs .5em
      margin 0
      padding 0
  &.fund-meta
    pl 30px
    pt 30px
    height 70px
    background rgba(50, 50, 50, .6)
    h1, .message, strong
      color #fff

.project-detail
  .proj-drilldown-tabs
    pt 4px
    pb 4px
    max-width none
    margin 20px -15px
    bgc white
    border-top solid 1px #e0e0e0
    border-right none
    border-left none
    box-shadow 0px 1px 1px 0px #aaa
    a
      position relative
      border none
      color #0069ff
      &.ui-btn-active
        border none
        bgc #fff
        fw bold
        color #999
      .ui-btn-inner
        .ui-btn-text
          fs 1.1em
      &.ui-btn-active:after
        content ''
        display block
        position absolute
        image '../img/pointer.png' 13px 12px
        background-repeat no-repeat
        width 13px
        height 12px
        left 48px
        top 32px

.proj-dd
  color #777
  h5
    color #000
    margin 10px 0
  &.proj-dd-details, &.proj-dd-instructions
    padding 0px 10px
    ul, ol
      list-style-position outside
      padding-left .9em
      text-indent -.9em
      //line-height 1.5em
      font-size .75em
      list-style none
      li
        pb 8px
  p
    line-height 1.3em
    font-size .75em

    // &.proj-dd-supplies
    //   ul.product-list.ui-listview
    //     li.ui-first-child
    //       border-top none

.henri-container
  .preloader
    width 1px
    height 1px
  position relative
  mt 25px
  .ui-slider-track
    margin 20px 10px 10px 10px
    mt 20px
    .ui-btn-active
      &.ui-slider-bg
        bgc #19bc9c
        background linear-gradient(top, #22bc9e, #17a186);
  .henri-money
    position absolute
    top 60px
    right 95px
    color #fff
    font-size 1.2em
  .my-contribution
    position absolute
    top 7px
    right 27px
    width 100px
    text-align center
    color #aaa
    font-size .75em
    fw bold

#henri-slider
  position absolute
  top 30px
  right 10px
  // background-color #009f86
  background-color #cc0000
  border none !important
  padding 0
  width 100px
  height 100px
  border-radius 50px
  color #fff
  font-size 2em
  box-shadow none
  margin-right 15px


#henri-face
  ml 20px
  width 151px;
  height 122px;
  background-repeat no-repeat

.sadHenri
  background-image url('../img/henri-sad.png')
.happyHenri
  background-image url('../img/henri-happy.png')
.ecstaticHenri
  background-image url('../img/henri-ecstatic.png')

.funder-message
  text-align center
  color #999
  p.funder-followup
    fs .75em
    fw 200
    padding 0 20px


ul.product-list
  li.ui-li-has-thumb
    img
      padding 10px
      max-width 60px
      max-height 60px
    h5
      fw normal
      ml 0px
      mt 0px
      white-space normal
      fs .9em
    .price
      ml 0px
      fw bold
      fs 1em
      .each
        fs .7em
        pl 4px
    .quantity
      ml 0px
      mb 0px
      fs .7em
      fw bold
      color #999

.instructions
  color #555
  fs 2em

