h1 {
  color: #000;
}
.fullbleed {
  margin: 0px -15px;
}
.splashtop {
  margin-top: 15px;
  height: 200px;
  background-image: url("/img/crayons.jpg");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .splashtop {
    background-image: url("/img/crayons@2x.jpg");
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
  }
}
.welcome a.alt-link {
  color: #c00;
}
.welcome h1 {
  font-size: 28px;
}
.welcome p {
  font-size: 18px;
  line-height: 12px;
  font-weight: bold;
  color: #989898;
}
.actions p {
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  margin: 0;
  color: #292929;
}
.top-search-holder {
  padding: 5px 8px 0 8px;
}
.top-search-holder #school-search {
  font-size: 1.7em;
  font-weight: bold;
  border: solid 2px;
}
.btn-shadow {
  -webkit-box-shadow: 0px 2px 1px #ccc;
  box-shadow: 0px 2px 1px #ccc;
}
.ui-bar-a {
  -webkit-box-shadow: 0px 1px 3px #333;
  box-shadow: 0px 1px 3px #333;
}
#sidemenu ul li {
  border-bottom: solid 1px #a00;
  border-top: solid 1px #dc3737;
}
#sidemenu ul li a {
  font-size: 1.2em;
  text-decoration: none;
}
.ui-icon:not(.ui-icon-loading),
.ui-icon-searchfield::after {
  background: none;
}
.big-icon.ui-btn-icon-notext {
  width: 36px;
  height: 36px;
}
.big-icon .ui-btn-inner {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.big-icon .ui-btn-inner .ui-icon {
  font-size: 2.5em;
  padding-top: 5px;
}
.form-search-schools {
  margin-left: 50px;
  margin-right: 10px;
}
.form-search-schools .ui-icon:not(.ui-icon-loading),
.form-search-schools .ui-icon-searchfield::after {
  background: rgba(0,0,0,0.6);
}
.form-search-schools .ui-input-search {
  border: none;
}
