.hide {
  display: none;
}
.ui-content h1 {
  color: #000;
}
.container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.fullbleedlr {
  margin-left: -15px;
  margin-right: -15px;
}
.branded {
  color: #c00 !important;
}
.ui-header img.ui-title {
  margin-bottom: 0.5em;
}
.ui-header img.ui-title.matisse-sig {
  width: 106px;
  height: 27px;
}
ul.ui-listview li.ui-btn .ui-btn-inner .ui-btn-text a {
  text-decoration: none;
}
ul.ui-listview li.ui-btn .ui-btn-inner .ui-btn-text a .school-address {
  color: #aaa;
}
ul.ui-listview li.ui-btn-down-d,
ul.ui-listview li.ui-btn-up-d,
ul.ui-listview li.ui-btn-hover-d {
  border-bottom: solid 1px #111;
  border-top: solid 1px #666;
}
ul.ui-listview li.ui-btn-down-e,
ul.ui-listview li.ui-btn-up-e,
ul.ui-listview li.ui-btn-hover-e {
  border-top: solid 1px #ddd;
}
ul.ui-listview li.ui-btn-down-e .ui-btn-inner span.ui-icon,
ul.ui-listview li.ui-btn-up-e .ui-btn-inner span.ui-icon,
ul.ui-listview li.ui-btn-hover-e .ui-btn-inner span.ui-icon {
  color: #999;
}
ul.ui-listview li.ui-btn-down-e .ui-btn-inner a .message,
ul.ui-listview li.ui-btn-up-e .ui-btn-inner a .message,
ul.ui-listview li.ui-btn-hover-e .ui-btn-inner a .message {
  margin-top: 0px;
  white-space: normal;
}
ul.ui-listview li.ui-btn-down-e .ui-btn-inner a .subtext,
ul.ui-listview li.ui-btn-up-e .ui-btn-inner a .subtext,
ul.ui-listview li.ui-btn-hover-e .ui-btn-inner a .subtext {
  font-size: 0.7em;
}
.splashtop {
  margin-top: -10px;
  height: 210px;
  background-image: url("/img/colored-pencils.jpg");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .splashtop {
    background-image: url("/img/colored-pencils@2x.jpg");
    -webkit-background-size: 320px auto;
    -moz-background-size: 320px auto;
    background-size: 320px auto;
  }
}
.welcome h1 {
  font-size: 28px;
  margin: 10px 0 0;
}
.welcome p {
  font-size: 18px;
  line-height: 2px;
  font-weight: bold;
  color: #989898;
}
.actions p {
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  margin: 0;
  color: #292929;
}
.fundertop {
  margin-top: -15px;
  padding-top: 5px;
  padding-left: 115px;
  height: 170px;
  background-image: url("/img/marker.jpg");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .fundertop {
    background-image: url("/img/marker@2x.jpg");
    -webkit-background-size: 95px auto;
    -moz-background-size: 95px auto;
    background-size: 95px auto;
  }
}
.fundertop h2 {
  margin: 0;
}
.fundertop h1 {
  margin: 0 0 30px 5px;
  line-height: 0.7em;
  font-size: 2.7em;
}
.fundertop .intromessage {
  color: #666;
  font-size: 1em;
  line-height: 1.3em;
  width: 200px;
}
.fundertop .actions p {
  text-align: left;
  margin-top: 10px;
}
.recent-activities h4 {
  margin-top: 10px;
  color: #989898;
  font-size: 0.7em;
  padding-bottom: 10px;
}
.btn-shadow {
  -webkit-box-shadow: 0px 2px 1px #ccc;
  box-shadow: 0px 2px 1px #ccc;
}
.ui-bar-a {
  -webkit-box-shadow: 0px 1px 3px #333;
  box-shadow: 0px 1px 3px #333;
}
ul.left-icons li.ui-btn .ui-btn-inner .ui-icon {
  font-size: 1.3em;
  width: 40px;
  display: inline-block;
}
#sidemenu ul li {
  border-bottom: solid 1px #a00;
  border-top: solid 1px #dc3737;
}
#sidemenu ul li a {
  font-size: 1.1em;
  padding-top: 18px;
  padding-top: 18px;
  font-weight: 300;
  text-decoration: none;
}
.ui-icon:not(.ui-icon-loading),
.ui-icon-searchfield::after {
  background: none;
}
.ui-header .big-icon.ui-btn-icon-notext {
  width: 36px;
  height: 36px;
}
.ui-header .big-icon .ui-btn-inner {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.ui-header .big-icon .ui-btn-inner .ui-icon {
  font-size: 2em;
  padding-top: 5px;
}
.ui-footer .big-icon.ui-btn-icon-notext {
  width: 28px;
  height: 28px;
}
.ui-footer .big-icon .ui-btn-inner {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.ui-footer .big-icon .ui-btn-inner .ui-icon {
  font-size: 1.5em;
  padding-top: 5px;
  padding-left: 3px;
}
#form-search-schools {
  margin-left: 50px;
  margin-right: 10px;
}
#form-search-schools .ui-icon:not(.ui-icon-loading),
#form-search-schools .ui-icon-searchfield::after {
  background: rgba(0,0,0,0.6);
}
#form-search-schools .ui-input-search {
  border: none;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit {
  padding-left: 80px;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit img.ui-li-thumb {
  left: 10px;
  top: 10px;
  max-width: 60px;
  max-height: 60px;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit h5 {
  margin: 0;
  color: #000;
  font-size: 0.9em;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit h5 .project {
  font-weight: normal;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit .message {
  margin-top: 3px;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit .status {
  margin-top: 10px;
  margin-left: -2px;
  margin-right: 10px;
  margin-bottom: 0;
  position: relative;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit .status .ui-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.1em;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit .status .ui-icon.ui-icon-time {
  color: #c00;
  margin-left: -3px;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit .status .ui-icon.ui-icon-time.nonurgent {
  color: #ccc;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit .status .ui-icon.ui-icon-leaf {
  color: #f39c12;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit .status .ui-icon.ui-icon-map-marker {
  color: #2880b9;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit .status .ui-icon.ui-icon-money {
  color: #15a085;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit .status .subtext {
  margin-bottom: 0;
  font-size: 0.7em;
  font-weight: normal;
  color: #666;
  padding: 5px 0 0 25px;
}
ul.project-list li.ui-li-has-thumb .ui-btn-inner .ui-btn-text a.ui-link-inherit .status .subtext .suptext {
  margin-left: 8px;
  color: #aaa;
}
.project-detail .proj-top {
  margin-top: -15px;
  height: 150px;
  background-image: url("/img/projects/project-detail-bg.jpg");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .project-detail .proj-top {
    background-image: url("/img/projects/project-detail-bg@2x.jpg");
    -webkit-background-size: 320px auto;
    -moz-background-size: 320px auto;
    background-size: 320px auto;
  }
}
.project-detail .proj-footer .fund-btn-wrapper {
  width: 55%;
  margin: -27px auto 5px;
}
.project-detail .proj-footer .fund-btn-wrapper .fund-button {
  margin: 0px auto;
}
.project-detail .proj-footer .fund-btn-wrapper .fund-button .ui-btn-inner {
  padding: 0.45em 11px 0.4em;
}
.project-detail .proj-footer .fund-btn-wrapper .fund-button .ui-btn-inner .ui-btn-text {
  font-size: 1.3em;
  font-weight: normal;
}
.project-detail .proj-meta h1 {
  margin-bottom: 0px;
  font-size: 1.2em;
}
.project-detail .proj-meta .message {
  margin-top: 2px;
  color: #888;
  font-size: 0.8em;
  font-weight: 200;
}
.project-detail .proj-meta .message strong {
  font-weight: bold;
  color: #000;
}
.project-detail .proj-meta .progbar-outer {
  margin-bottom: 5px;
  margin-top: 20px;
  height: 12px;
  width: 100%;
  -webkit-box-shadow: inset 1px 1px 4px #bbb;
  box-shadow: inset 1px 1px 4px #bbb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #e0e5e6;
}
.project-detail .proj-meta .progbar-outer .progbar-inner {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #22bc9e), color-stop(1, #17a186));
  background: -webkit-linear-gradient(top, #22bc9e 0%, #17a186 100%);
  background: -moz-linear-gradient(top, #22bc9e 0%, #17a186 100%);
  background: -o-linear-gradient(top, #22bc9e 0%, #17a186 100%);
  background: -ms-linear-gradient(top, #22bc9e 0%, #17a186 100%);
  background: linear-gradient(top, #22bc9e 0%, #17a186 100%);
  height: 11px;
  width: 70%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #18b092;
}
.project-detail .proj-meta .proj-stats .ui-block-b,
.project-detail .proj-meta .proj-stats .ui-block-c,
.project-detail .proj-meta .proj-stats .ui-block-d {
  padding-left: 20px;
}
.project-detail .proj-meta .proj-stats sup {
  vertical-align: top;
  font-size: 0.5em;
}
.project-detail .proj-meta .proj-stats h5 {
  margin-top: 5px;
  margin-bottom: 0;
}
.project-detail .proj-meta .proj-stats p {
  color: #888;
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}
.project-detail .proj-drilldown-tabs {
  padding-top: 4px;
  padding-bottom: 4px;
  max-width: none;
  margin: 20px -15px;
  background-color: #fff;
  border-top: solid 1px #e0e0e0;
  border-right: none;
  border-left: none;
  -webkit-box-shadow: 0px 1px 1px 0px #aaa;
  box-shadow: 0px 1px 1px 0px #aaa;
}
.project-detail .proj-drilldown-tabs a {
  position: relative;
  border: none;
  color: #0069ff;
}
.project-detail .proj-drilldown-tabs a.ui-btn-active {
  border: none;
  background-color: #fff;
  font-weight: bold;
  color: #999;
}
.project-detail .proj-drilldown-tabs a .ui-btn-inner .ui-btn-text {
  font-size: 0.9em;
}
.project-detail .proj-drilldown-tabs a.ui-btn-active:after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 45px;
  top: 25px;
}
.project-detail .proj-dd {
  color: #777;
}
.project-detail .proj-dd h5 {
  color: #000;
  margin: 10px 0;
}
.project-detail .proj-dd.proj-dd-details,
.project-detail .proj-dd.proj-dd-instructions {
  padding: 0px 10px;
}
.project-detail .proj-dd.proj-dd-details ul,
.project-detail .proj-dd.proj-dd-instructions ul,
.project-detail .proj-dd.proj-dd-details ol,
.project-detail .proj-dd.proj-dd-instructions ol {
  list-style-position: outside;
  padding-left: 0.9em;
  text-indent: -0.9em;
  font-size: 0.75em;
  list-style: none;
}
.project-detail .proj-dd.proj-dd-details ul li,
.project-detail .proj-dd.proj-dd-instructions ul li,
.project-detail .proj-dd.proj-dd-details ol li,
.project-detail .proj-dd.proj-dd-instructions ol li {
  padding-bottom: 8px;
}
.project-detail .proj-dd p {
  line-height: 1.3em;
  font-size: 0.75em;
}
.project-detail .proj-dd.proj-dd-supplies ul.product-list.ui-listview li.ui-first-child {
  border-top: none;
}
ul.product-list li.ui-li-has-thumb img {
  padding: 10px;
  max-width: 60px;
  max-height: 60px;
}
ul.product-list li.ui-li-has-thumb h5 {
  font-weight: normal;
  margin-left: 0px;
  margin-top: 0px;
  white-space: normal;
  font-size: 0.9em;
}
ul.product-list li.ui-li-has-thumb .price {
  margin-left: 0px;
  font-weight: bold;
  font-size: 1em;
}
ul.product-list li.ui-li-has-thumb .price .each {
  font-size: 0.7em;
  padding-left: 4px;
}
ul.product-list li.ui-li-has-thumb .quantity {
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 0.7em;
  font-weight: bold;
  color: #999;
}
.instructions {
  color: #555;
  font-size: 2em;
}
