a.side-menu-btn.ui-icon-nodisc.big-icon(href="#sidemenu", data-icon='reorder', data-swipe-close='true', data-dismissible='true', data-iconpos='notext', data-shadow='false', data-iconshadow='false') Menu
