ul(data-role='listview', data-theme='d', data-inset='false')
  for school in schools
    li
      a(href='/index.html?school=' + school.name)
        h2.school-name= school.name
        p.school-address= school.address
