#sidemenu(data-role='panel', data-theme='a', data-position-fixed='true')
  ul.left-icons(data-role='listview', data-theme='a')
    li(data-icon='false')
      a(href='/', data-transition='slide')
        span.ui-icon.ui-icon-home
        | Home
    li(data-icon='false')
      a(href='/projects', data-transition='slide')
        span.ui-icon.ui-icon-gift
        | Help a Classroom
    //- li(data-icon='false')
    //-   a(href='/projects', data-transition='slide')
    //-     span.ui-icon.ui-icon-lightbulb
    //-     | Project Ideas
    li(data-icon='false')
      a(href='/account', data-transition='slide')
        span.ui-icon.ui-icon-cog
        | My Account
    li(data-icon='false')
      a(href='/about', data-transition='slide')
        span.ui-icon.ui-icon-info-sign
        | About Matisse
    li(data-icon='false')
      a(href='/feedback', data-transition='slide')
        span.ui-icon.ui-icon-bullhorn
        | Give Feedback
