aside#aside-main
  header(data-title='')
  article.active.list
    ul
      li.active
        a(href='#section-home', data-router='section')
          strong Home
      li
        a(href='#section-classrooms', data-router='section')
          strong Classrooms
