extends layout
block content
  #schools(data-role='page')
    include sidemenu
    div(data-role='header', data-position='fixed')
      form.form-search-schools
        input#search-schools.search-box(type='number', name='zip', data-theme='c', value='', placeholder='zip code')= zip
        a(data-role='submit', data-inline="true")GO
      //- h1 Find Your School
      //- .segmented-control.ui-bar-d
      //-   fieldset(data-role='controlgroup', data-type='horizontal', data-mini='true')
      //-     input#list-switch(type='radio', name='switch', checked='true')
      //-     label(for='list-switch') List
      //-     input#map-switch(type='radio', name='switch')
      //-     label(for='map-switch') Map
      a.ui-icon-nodisc.big-icon(href='#sidemenu', data-icon='reorder', data-iconpos='notext', data-shadow='false', data-iconshadow='false') Menu
      //- a(href='#', data-theme='c') GO
    if (zip)
      div(data-role='content')
        p= schools
      //- see http://view.jquerymobile.com/master/demos/examples/maps/list-toggle.php for example


