extends layout
block content
  #funder-home(data-role='page', data-dom-cache='false')
    include _sidemenu
    div(data-role='header', data-position='fixed')
      img.retina.ui-title(src='img/matisse-logo-white.png')
      include _menu-btn
    div(data-role='content')
      .fundertop.fullbleedlr
        h2 welcome
        h1 funder!
        .actions
          p
            a(href='#') see projects I'm supporting
          p
            a(href='#') find classrooms to help

    div.recent-activities(data-role='content')
      h4 recent project activity
      ul(data-role='listview', data-inset='false', data-theme='e')
        - var activities = [1,2,3];
        for activity in activities
          li(data-icon='chevron-right')
            a
              img(src='/img/test.png')
              //-h2 This is my jam: Diggable Planets
              p.message We be to rap what <strong>key be to lock</strong>, 'cause I'm peace like that, <strong>I'm black like that.</strong>
              p.subtext expiring soon ya'll!

