extends layout
block content
  #home(data-role='page', data-dom-cache='true')
    include _sidemenu
    div(data-role='header', data-position='fixed')
      img.ui-title.retina.matisse-sig(src='http://cdn.matisseapp.com/img/matisse-logo-white.png')
      include _menu-btn
    div(data-role='content')
      .splashtop.fullbleedlr
      .welcome
        h1 welcome to Matisse.
        p.bold ready to <span class='branded'>launch</span> a project?
        p.bold looking to <span class='branded'>fund</span> one?
        p.bold we'll get you started. <a class='link-alt' href='/about', data-transition='slide'>learn more</a>
      .actions.ui-grid-a.fullbleedlr
        .ui-block-a
          a.btn-shadow(href='/projects', data-role='button', data-prefetch) browse projects
        .ui-block-b
          a.btn-shadow(href='/find-schools', data-role='button') create account
        .ui-block-a
          p.bold.center for funders
        .ui-block-b
          p.bold.center for teachers
