section#section-classrooms(data-transition='slide')
  header.extended(data-title='Classrooms')
    include nav-asidemenu
    //- form
    //-   fieldset.top-search-holder(data-icon='search')
    //-     input#school-search(type='search', placeholder="school name or zip code...")
  //- nav(data-control='groupbar')
  //-   a.active(href='#article-schools-map', data-router='article', data-label='map')
  //-   a(href='#article-schools-list', data-router='article', data-label='list')

  //- article#article-schools-map.active.list(data-search='zip code or school name')
  //-   ul
  //-     li.highlight something

  article#article-schools-list.active.scroll.list
    form#school-search-form
      fieldset.top-search-holder
        label.large find schools:
        input#school-search(type='search', placeholder="name or zip code...")
    ul#school-list

