#sidemenu(data-role='panel', data-theme='a', data-position-fixed='true')
  ul(data-role='listview', data-theme='a')
    li(data-icon='false')
      a(href='/') Home
    li(data-icon='false')
      a(href='/') Classrooms
    li(data-icon='false')
      a(href='/') Project Ideas
    li(data-icon='false')
      a(href='/') My Account
    li(data-icon='false')
      a(href='/') About Matisse
    li(data-icon='false')
      a(href='/') Give Feedback
